<p id="notice"><%= notice %></p>

<p>
  <strong>Todo thing:</strong>
  <%= @topic.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @topic.finished %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
